        body {
            font-family: 'Inter', sans-serif;
            background-image: url(assets/bg.png);
            background-size: cover;
            background-position: center;
        }

        .error-message {
            height: 1.25rem;
            /* h-5 in Tailwind */
        }